{% extends 'base.html' %}

{% block content %}
Home!

Home may be where the heart is, but home isn't where you have access to a washer and dryer.

<h2>Find a wearbnb near you!</h2>

<table class="table">
<thead>
<tr>
	<th></th>
	<th>Host</th>
	<th>Description</th>
	<th>Cost</th>
	<th>Location</th>
	<th>Date</th>
	<th>Time</th>
</tr>
</thead>
<tbody>
{% for party in parties %}
	<tr>
		<td>{% if party.host_id == user.id %}
				<a href="{{url_for('parties.edit',party_id=party.id)}}" class="btn btn-primary">Edit</a>
				{% elif not party.attendee_id %}
				<form action="{{url_for('parties.join',party_id=party.id)}}" method="POST">
					{{ joinform.csrf_token }}
					<input type="hidden" name="verb" value="join">
					<input type="submit" value="Join" class="btn btn-success">
				</form>
				{% elif party.attendee_id == user.id %}
				<form action="{{url_for('parties.join',party_id=party.id)}}" method="POST">
					{{ joinform.csrf_token }}
					<input type="hidden" name="verb" value="leave">
					<input type="submit" value="Leave" class="btn btn-danger">
				</form>
				{% endif %}
		</td>
		<td>{{ party.host.name }}</td>
		<td>{{ party.description}}</td>
		<td>${{ party.cost}}</td>
		<td>{{ party.host.address}}</td>
		<td>{{ party.date }}</td>
		<td>{{ party.time }}</td>
	</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}