{% extends 'base.html' %}

{% block title %}
wearbnb
{% endblock %}

{% block content %}
<script src="{{url_for('static',filename='script.js')}}"></script>

<h2>Find a wearbnb near you! <small>Do your laundry with someone else at their house.</small></h2>
<img src="http://i.huffpost.com/gen/1777054/images/o-LAUNDRY-facebook.jpg" alt="" class="img-responsive">
Home may be where the heart is, but isn't where you have a washer and dryer.

<!--0h6>Hang out with them. They're really cool!</h6-->
<hr>
<div id="ctrl-btn" class="container text-center">
	<span id="token" data-csrf="{{tok}}" ></span>
	<button id="default-button" data-verb="anywhere" class="btn btn-default">Do Laundry Anywhere</button>
	<button data-verb="nearby" class="btn btn-default">Do Laundry Nearby</button>
	<button data-verb="walking" class="btn btn-default">Walking</button>
	<button data-verb="now" class="btn btn-default">Now</button>
</div>
<hr>
<table class="table">
	<thead>
	<th></th>
	<th>Host</th>
	<th>Distance</th>
	<th>Description</th>
	<th>Cost</th>
	<th>Location</th>
	<th>Date</th>
	<th>Time</th>
	</thead>
	<tbody>
		
	</tbody>
</table>
{% endblock %}