{% extends 'base.html' %}
{% block title %}
Show User
{% endblock %}
{% block content %}
	<h2>User Summary</h2>
	<p>username: {{user.username}}</p>
	<p>email: {{user.email}}</p>
	<p>name: {{user.name}}</p>
	<p>address: {{user.address}}</p>
	<p>city: {{user.city}}</p>
	<p>state: {{user.state}}</p>
	<p>zipcode: {{user.zipcode}}</p>
	<p>latitude: {{user.latitude}}</p>
	<p>longitude: {{user.longitude}}</p>
	<hr>
	<a class="btn btn-default" href="{{ url_for('users.edit', id=user.id) }}">Edit User</a>
{% endblock %}